@{
    ViewBag.Title = "Cookeasy";
}


        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="active"><a asp-action="Index">Home</a></li>
                <li><a asp-action="RecipeList">Recipe List</a></li>
                <li><a asp-controller="Admin" asp-action="AddRecipe">Add Recipe</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Header -->
<!-- Banner -->
<div id="banner">

</div>
<!-- /Banner -->
<!-- Main -->
<div id="main">
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="12u">
                <section>
                    <header>
                        <h2>Easy recipe, Easy cook.</h2>
                    </header>
                    <p>Cookeasy is the new application for all foodies!</p>
                </section>
            </div>
        </div>

    </div>
    <!-- /Main Content -->

</div>
<!-- /Main -->